@import "tailwindcss";

@theme {
  --color-farmatodo-blue: #002B66;
  --color-farmatodo-blueHover: #001F4B;
  --color-farmatodo-red: #E30613;
  --color-farmatodo-lightBg: #F4F6F9;
  --color-farmatodo-card: #FFFFFF;
  --color-farmatodo-textPrimary: #1E293B;
  --color-farmatodo-textSecondary: #64748B;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F4F6F9;
  color: #1E293B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}